
/* Общие для сайта */

body {

  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.main-header,
.container,
.container-page,
.main-footer {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {

  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* header
   main-header */


.main-header {
  position: relative;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 700;
  line-height: 26px;

  color: #000000;
}

.main-header-logo {
  display: block;
  position: absolute;

  width: 140px;
  height: 72px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 0;

  background-color: #ffffff;
}

.container-navigation {
  width: 100%;
  height: 56px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  padding: 0 73px;
  margin: -7px 0;

  list-style: none;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  display: block;
  width: 25%;

  padding-top: 20px;
  padding-bottom: 23px;

}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}
.site-navigation a:active {
  color: #766357;
}

.site-navigation-current a {
  color: #766357;
}

/* main
    container */

.background-intro {
  width: 1200px;
  height: 507px;

  margin-top: -50px;

}

.about-us {
  display: block;
  margin-top: 115px;
  margin-bottom: 50px;

  text-align: center;
}

.about-us b {
  display: block;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  color: #000000;
}

.about-us p {
  display: block;
  padding-top: 15px;

  font-weight: 400;
  line-height: 26px;

  color: #333333;
}

.features-item {
  display: flex;
  justify-content: space-between;
}

.features-item .description {
  width: 400px;

  text-align: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.description h3 {
  margin-top: 48px;

  font-size: 21px;
  font-weight: 700;

  color: #ffffff;
}

.description p {
  padding-top: 10px;
  margin-bottom: 56px;
}

.sedona-photo {
  display: block;

  width: 800px;
  height: 256px;
}

.features-list-one,
.features-list-two {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;
}

.features-list-one h3,
.features-list-two h3 {
  color: #000000;
}

.features-list-one {
  background-color: #ffffff;
}

.features-item .home,
.features-item .food,
.features-item .souvenirs {
  width: 400px;
  height: 330px;
}

.home h3,
.food h3,
.souvenirs h3 {
  position: relative;

  padding-top: 145px;
  padding-bottom: 5px;
}

.home h3::before {
  position: absolute;
  content: " ";

  width: 75px;
  height: 72px;

  margin-top: -100px;
  margin-left: -10px;

  background-image:
    url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.food h3::before {
  position: absolute;
  content: " ";

  width: 74px;
  height: 70px;

  margin-top: -98px;
  margin-left: -20px;

  background-image:
    url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.souvenirs h3::before {
  position: absolute;
  content: " ";

  width: 64px;
  height: 76px;

  margin-top: -104px;
  margin-left: 10px;

  background-image:
    url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.home p,
.food p,
.souvenirs p {
  padding-top: 0;
  padding-bottom: 85px;
}

.features-list-two {
  background-color: #eeeeee;
}

.features-item .area,
.features-item .road,
.features-item .tourists {
  width: 400px;
}

.area h3,
.road h3,
.tourists h3 {
  margin-top: 49px;

  font-size: 21px;
  font-weight: 700;
}

.area p,
.road p,
.tourists p {
  padding-top: 10px;
  margin-bottom: 60px;
}

.apointment-title {
  display: block;
  position: relative;

  text-align: center;
  background-color: #ffffff;
}

.apointment-title h2 {
  padding-top: 50px;
  margin: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  color: #000000;
}

.apointment-title p {
  padding-top: 10px;
  padding-bottom: 137px;

  font-weight: 400;
  line-height: 24px;

  color: #333333;
}

.apointment h3 {
  font-size: 21px;
  font-weight: 700;

  line-height: 26px;
  text-align: center;

  color: #ffffff;
  background-color: #766357;
}

.apointment h3 a {
  color: #ffffff;
}

.apointment h3:hover {
   color: #ffffff;
   background-color: #604e43;
}

.apointment h3 a:hover {
  color: #ffffff;
  background-color: #604e43;
}
.apointment h3:active {
  background-color: #503e33;
}

.apointment h3 a:active{
  color: #928a85;
  background-color: #503e33;
}

.apointment-form {

  position: absolute;
  width: 576px;

  margin-top: -127px;
  margin-left: 310px;
}
.apointment-form h3 {
  width: 574px;

}

.button-apointment {
  display: block;
  height: 100%;
  line-height: 90px;
}

.apointment-container {
  display: none;

  padding: 55px 57px;
  margin-top: -20px;

  background-color: #ffffff;
  border: none;
}

.apointment-item {
  padding-bottom: 30px;
}

.apointment-item label,
.apointment-item-people label {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.apointment-item label {

  padding-top: 5px;
  padding-right: 20px;
  padding-left: 2px;
}

.apointment-item-people label {
  padding-top: 15px;
  padding-right: 40px;
}

.apointment-item input[type="text"],
.apointment-item-people input[type="text"] {
  font-weight: 700;
  line-height: 26px;

  color: #000000;
  background-color: #f2f2f2;

  border: none;

  cursor: pointer;
}

.apointment-item input[type="text"] {
  width: 343px;
}

.apointment-item {
  display: flex;
}

.apointment-item svg {
  display: block;
  position: absolute;
  width: 21px;
  height: 22px;

  padding-top: 3px;
  padding-left: 428px;
}

.apointment-item svg path {
  fill: #cacaca;
}

.apointment-item svg path:hover {
  fill: #000000;
}

.apointment-item svg path:active {
  fill: #81b3d2;
}

.apointment-item-people {
  display: flex;
  justify-content: space-between;
  width: 455px;
}

.people-grown {
  display: flex;
  justify-content: space-between;
}

.people-grown label,
.people-children label {
  padding-top: 10px;
}

.people-children {
  display: flex;
  justify-content: space-between;
}

.button-change {
  position: relative;
  width: 38px;
  height: 40px;
  font-size: 0;
  background-color: #f2f2f2;
  border: 0;
}

.button-change::before,
.button-change::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  top: 18px;
  left: 13px;
  background-color: #a9a9a9;
}

.button-plus::after {
  transform: rotate(90deg);
}

.button-plus:hover,
.button-minus:hover {
  color: #000000;
}

.button-plus:active,
.button-minus:active {
  color: #81b3d2;
}

.apointment-item-people input {

  width: 38px;
  height: 38px;

  margin-bottom: 54px;

  background-color: #f2f2f2;
}

.apointment-item input:hover,
.apointment-item-people input:hover {
  color: #000000;
  background-color: #ebebeb;
}

.apointment-item input:focus {
  color: #000000;
  background-color: #ffffff;
}


.apointment-item-button .button {
  width: 459px;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;

  border: none;
}

.apointment-item-button .button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.apointment-item-button .button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.map {
  margin-top: -15px;
  margin-bottom: -5px;
}

/* Скрипты к форме */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}


/* main
    container-page */


.container-page {
  margin: 0 auto;
  color: #ffffff;
}

.filters {
  display: flex;

  width: 100%;
  height: 217px;
}

.filters .filters-form {
  display: flex;
  justify-content: space-between;

}

.filters-form {
  padding: 0 73px ;

  width: 1200px;
  height: 218px;
  background-image: url("../img/filter-background-1.jpg");
  background-repeat: no-repeat;

}

.filters-form fieldset {
  border: none;
}

.filters-form .left-item {
  padding: 0;
  margin: 0;
}

.filters-form .middle-item {
   margin-left: -210px;
}

.left-item legend,
.middle-item legend,
.right-item legend {
  padding-top: 33px;
  padding-bottom: 21px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;

  text-align: left;
  color: #ffffff;
}

.right-item legend {
  margin-left: 17px;
  margin-bottom: -18px;
}

.filters-form ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 21px;
}

.filter-option {
  display: flex;
  padding-bottom: 25px;
  background-repeat: no-repeat;
}

.filter-option-2 {
  margin-top: -3px;
}

input[type="checkbox"] {
  display: none;
}

.filter-option label {
  display: block;
  position: relative;

  cursor: pointer;
  user-select: none;
}

.filter-option input[type="checkbox"] + label {
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.png"); }


.filter-option input[type="checkbox"]:checked + label {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.png"); }


.filter-option span {
  margin-top: 2px;
  margin-left: 15px;
}


.price-controls {
  position: relative;

  height: 36px;

  margin-right: -10px;
  margin-bottom: 20px;

  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.filter-button {
  display: block;

  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;

  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin-left: 5px;

  color:  inherit;
  font: inherit;

  background: none;
  border: none;
}

.catalog {
  padding: 0;
  margin: 0;

  background-color: #fefefe;
}

.catalog-search {
  display: flex;

  border-bottom: 1px solid #e5e5e5;
}

.catalog .search-span {
  margin: 37px 50px 31px 73px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  color: #000000;
}

.sorting {
  display: flex;
  justify-content: space-between;

  margin-top: 43px;
  margin-bottom: 28px;
}

.catalog .sorting-span {
  display: block;

  margin-right: 37px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
}


.list-item {
  margin-right: 31px;
}

.sorting-list .price-current {
  border-bottom: none;
  color: #81b3d2;
}

.sorting-list a {
  color: #b2b2b2;
  border-bottom: 1px dashed #81b3d2;

}

.sorting-list a:hover {
  border-bottom: none;
  color: #81b3d2;
}

.sorting-list a:active {
  border-bottom: none;
  color: #000000;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-left: 440px;
}

.line a {
  margin-left: 10px;
}

.line a polygon:hover,
.line a polyline:hover {
  fill: #231f20;
}

.line a polygon:active,
.line a polyline:active {
  fill: #81b3d2;
}

.line .down-current polyline {
  fill: #81b3d2;
}

.catalog-item {
  display: flex;
  justify-content: space-between;

  padding: 26px 73px;
}

.catalog-page .catalog-item {

  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
  display: flex;
  align-items: flex-end;

}

.item-left {
  display: flex;

}

.description-catalog-item {
  display: block;

  margin-left: 30px;
}

.description-h3 h3 {
  margin: 0;
}

.description-h3 a {

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.description-span {
  padding-top: 5px;
}

.description-span .span-hotel {
  padding-right: 41px;
}

.description-span .span-motel {
  padding-right: 65px;
}

.description-span .span-apartaments {
  padding-right: 15px;
}

.description-catalog-item h3 a:hover {
  color: #81b3d2;
}

.description-catalog-item h3 a:active {
  color: #cacaca;
}

.description-catalog-item span {
  color: #000000;
}

.catalog-button {
  display: flex;

  width: 259px;

  padding-top: 10px;
}

.button {
  padding: 6px 17px 2px 17px;

  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button-detail {
  width: 110px;

  margin-right: 7px;

  background-color: #81b3d2;
}

.button-reserved {
  width: 142px;

  background-color: #766357;
}

.button-detail:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.button-reserved:hover {
  color: #ffffff;
  background-color: #604e43;
}

.button-detail:active {
  color: #85b0cd;
  background-color: #5496bd;
}

.button-reserved:active {
  color: #857871;
  background-color: #503e33;

}

.item-right {
  display: block;
}

.stars {
  display: flex;
  justify-content: flex-end;

  margin-top: 0;
  padding-bottom: 35px;
}

.stars ul {
  display: block;

  padding: 0;
  margin: 0;
}

.stars li {
  display: block;
  position: relative;

  width: 18px;
  height: 18px;

  padding-right: 4px;


  list-style: none;
}

.stars li::before {
  display: block;
  content: " ";
  position: absolute;

  width: 18px;
  height: 18px;

  background-image: url("../img/start.svg");
}

.grade {
  padding: 5px 15px;
  margin-left: 15px;

  color: #666666;
  background-color: #f2f2f2;
}


/* footer
   main-footer*/


.main-footer {
  display: flex;
  color: #000000;
  background: #ffffff;

}

.footer-index {
   position: relative;

   width: 100%;

   margin-top: -128px;

   box-sizing: border-box;
   z-index: 2;

   color: #000000;
   background: rgb( 255, 255, 255, 0.9);

}

.footer-page {
  display: flex;
  justify-content: flex-start;
}

.footer-left {
  padding-top: 34px;
  padding-left: 128px;
}

.footer-left a {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  color: #000000;
}

.footer-middle {
  display: flex;
}

.social {
  display: flex;

  padding-top: 23px;
  padding-left: 255px;
  padding-bottom: 20px;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  margin-right: 6px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active path {
  fill: #88b6d1;
  background-color: #5496bd;
}

.footer-right {
  display: flex;
  justify-content: space-between;
}

.footer-right span {
  display: block;

  padding-top: 33px;
  padding-left: 221px;

  font-weight: 400;
  line-height: 26px;
  color: #231f20;
}

.footer-right a {
  display: block;

  width: 115px;
  height: 41px;

  margin-top: -34px;
  padding-left: 304px;
}

.footer-right a path {
  fill: #231f20;
}

.footer-right a path:hover {
  fill: #81b3d2;
}

.footer-right a path:active {
  fill: #bdbbbc;
}
